{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": [1, { "ignore": ["data"] }]
  },
  "globals": {
    "document": true,
    "window": true,
    "fetch": false
  }
}
